@font-face {
  font-family: "3270NerdFontMono-Regular";
  src: url("/Fonts/3270NerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "3270NerdFontMono-Regular", "Courier New", ui-monospace, monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

body {
  min-height: 100vh;
  background: #32302f;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
